.navbar{
  border-bottom: 2px solid #aaaab3;
  border-top: 1px solid #aaaab3;
  /* background-color: #000; */
}
.nav-link {
  font-size: 15px !important;
  /* color: #fff !important; */
  font-weight: 600 !important;
}

.navbar-nav-scroll {
  max-height: 350px !important;
}

.logo {
  width: 100px;
  height:50px;
  background-color: #fff;
  border-radius:5px;
}

.lang{
  width: 40% !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.containerBtn{
  width: 60% !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.lang img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;

}
.slideImage {
  /* margin-top: 10px !important; */
  height: 90vh !important;

}

.mainHeader {
  font-size: 50px !important;
  font-weight: 700;
}
.body{
background-color: #d1d0d0 !important;
height:100vh !important;
}
.form{
  width: 50%;
  display: block;
  margin: 5% auto !important;
background-color: #fff;
  border-radius: 9px;

}
@media (max-width:700px) {
  .form{
    width: 100%;
    margin: 20% auto !important;

  }
  .form h2{
  font-size:30px !important;
  }
}

.pointer {
  cursor: pointer;
}